html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

nav {
	padding: 10px 0;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

#links {
	display: flex;
	justify-content: space-around;
	font-size: 38px;
	align-content: center;
	width: 800px;
}

.logo {
	max-height: 80px;
	height: 100%;
}

.filler {
	height: 1000px;
	background-color: green;
}

.divider {
	height: 100px;
	background-color: red;
	background-image: url("./img/divider.png");
	
}
