@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

html {
	font-family: 'MedievalSharp', cursive;
	scroll-behavior: smooth;
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
}

nav {
	background-color: #000;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navLimiter {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: auto;
}


.limiter {
	max-width: 1440px;
	margin: auto;
}

a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
}

#links {
	display: flex;
	justify-content: space-around;
	font-size: 38px;
	align-content: center;
	width: 800px;
	flex-wrap: wrap;
}

#navBtn {
	color: #9f8057;
	display: none;
	border: none;
	background-color: rgba(0,0,0,1);
	font-size: 70px;
	align-content: center;
	outline: none;
}


.logo {
	max-height: 80px;
	height: 100%;
}

.filler {
	height: 800px;
	background-color: green;
}
#about .filler{
	padding-top:200px;
	box-sizing: border-box;
}
.divider {
	height: 100px;
	background-color: red;
	background-image: url("./img/divider.png");
	
}

#about {
	background-image: url("./img/background.jpg");
	background-position: center;
	background-size: cover;
}

.desc {
	font-size: 35px;
	color:#D8B990;
	background-color:rgba(0,0,0,0.8);
	padding:0 90px 0 20px;
	width: 65%;
}

.vibing_man{
	height: 90%;
	position: absolute;
	z-index: 1;
	top: 175px;
	left: 51%;
	overflow: hidden;
}

#members {
	background-color:#DCDCDC;
}

.images{
	display:grid;
	text-align:center;
	grid-template-columns: auto auto;
	grid-row-gap: 20px;
}

.images div{
	margin:auto;
}

#members h1{
	margin:0px;
	text-align:center;
	padding:20px 0;
}

#albums{
	background-color:#dcdcdc;
}
.album{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.album img{
	height: 200px;
}
.album h2{
	font-size: 20px;
}

@media only screen and (max-width: 970px) {
	.images{
		grid-template-columns: auto;
	}
}

@media only screen and (max-width: 1000px) {
	#links {
		height: 0;
		overflow: hidden;
		width: 100%;
	}
	.vibing_man{ 
		display: none;
	}
	#about .filler {
		padding: 0;
	}
	.desc {
		width: unset;
		padding: 20px;
	}
	#navBtn {
		display: flex;
	}
}
